.hero {
  /* Fondo de la imagen con el degradado */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/fondo_kaela.jpg');
  background-size: cover;
  background-position: center;
  color: #fff; /* Color del texto */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Altura de la pantalla completa */
}

.hero-content {
  padding: 2rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: var(--color-primary-pink); /* Color rosa del logo */
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}